html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
